
.jumbotron {
  padding-top: 2rem;
  background: url("./img/projects/utamaa.png") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron2 {
  padding-top: 0rem;
  background: url("./img/projects/9.png") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.slidee{
  position: absolute;
}
.fix{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.about {
  background-color: #000;
}

#projects {
  background-color: #fff;
}

section{
  padding-top: 6rem;
}